@using MusicManager.Models;
@model List<MusicLibrary>


@{
	ViewBag.Title = "Index";
	var genres = ViewBag.Genres;
}

<style>
	.setHeight {
		height: 40px
	}
</style>

<script>

	function editMode(id)
	{
		$(".cEditMode_" + id).hide();
		$(".cSaveMode_" + id).show();
	}

	function saveMode(id)
	{
		var pSongName = $("#DateOfAlbum_" + id).val();
		var url = '@Url.Action("UpdateMusic", "Music")';
		var data = {
			id: id,
			songName: $("#SongName_" + id).val(),
			album: $("#Album_" + id).val(),
			artist: $("#Artist_" + id).val(),
			genreId: $("#GenreId_" + id).val(),
			albumDate: $("#DateOfAlbum_" + id).val()
		};

		jQuery.ajax({

			type:"post",
			dataType:"json",
			url: url,
			data: data,
			success: function () {
				//alert("Music updated");
				window.location.reload();
			},
			error: function () {
				alert("Error while updating. Please try again");
			},
		});

	}

	function confirmDelete()
	{
		if (confirm("Are you sure you want to delete this item") == true)
		{
			return true;
		}
		else
		{
			return false;
		}
	}

</script>
@using (Html.BeginForm("Index", "Music", FormMethod.Post))
{
	<table style="width:100%">
		<tr class="setHeight">
			<td colspan="4">
				@Html.TextBox("SearchSong", null, new { placeholder="Search", style = "width: 100%" }) &nbsp;
			</td>
		</tr>
		<tr setHeight>
			<td colspan="4">
				@Html.DropDownList("SearchGenre", new SelectList(genres, "Id", "Name"), "(Search via genre)") &nbsp;
				<input type="submit" class="btn-info" value="Search" />
			</td>
		</tr>
		<tr>
			@*<th style="width:20%; height">Art</th>*@
			<th>Song</th>
			<th>Album</th>
			<th>Artist</th>
			<th>Date</th>
			<th>Genre</th>
			<th>Actions</th>
			@*<th>Play</th>*@
		</tr>
		@foreach (var item in Model)
		{
			<tr class="cEditMode_@item.Id">
				@*<td><img src="@Url.Action("ShowAlbumArt", "Music", new { id = item.Id })" /></td>*@
				<td>@item.SongName</td>
				<td>@item.Album</td>
				<td>@item.Artist</td>
				<td>@item.DateOfAlbum</td>
				<td>@item.Genre.Name</td>
				<td onclick="editMode(@item.Id)"><a><input type="button" value="Edit" class="btn-info" /></a></td>
				<td><a onclick="return confirmDelete()"  href="@Url.Action("Delete", "Music", new { Id = item.Id })"><input type="button" value="Delete" class="btn-info" /></a></td>
				@if (item.Song != null)
				{
					<td><a href="@Url.Action("DownloadSong", "Music", new { Id = item.Id})"><input type="button" value="Download Song" class="btn-success" /></a></td>
				}

				@*<td><input type="button" class="btn-primary" /></td>*@
			</tr>
			<tr class="cSaveMode_@item.Id" style="display:none">
				<td>@Html.TextBoxFor(o => item.SongName, new {Id = "SongName_" + item.Id, style = "width: 100%" })</td>
				<td>@Html.TextBoxFor(o => item.Album, new { Id = "Album_" + item.Id, style = "width: 100%" })</td>
				<td>@Html.TextBoxFor(o => item.Artist, new { Id = "Artist_" + item.Id, style = "width: 100%" })</td>
				<td>@Html.TextBoxFor(o => item.DateOfAlbum, "{0:yyyy-MM-dd}", new { Id = "DateOfAlbum_" + item.Id, @type = "date" })</td>
				<td>@Html.DropDownListFor(o => item.GenreId, new SelectList(genres, "Id", "Name",item.GenreId), "(Select genre)",new { Id = "GenreId_" + item.Id, })</td>
				<td  id="idSave_@item.Id" onclick="saveMode(@item.Id)"><a><input type="submit" value="Save" class="btn-info" /></a></td>
			</tr>
		}
	</table>
}


